.login {
background: #eceeee;
border: 1px solid #42464b;
border-radius: 6px;
height: 257px;
margin: 20px auto 0;
width: 298px;
}

.characterListItem {
border: 1px solid #42464b;
border-radius: 6px;
cursor: pointer;
width:200px;
list-style-type: none;
margin: 20px auto 0;
}

.selectedCharacter {
background: white;
}
#scrollbar1 { width: 520px; clear: both; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #003D5D; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }



.login_container
{
	margin-top:75px;
}

.login_hero
{
	height:320px;
	width:820px;
	margin:0px auto 0px auto;
}

.login_husky_vs_zombie
{
	margin-top:-30px;
}

.login_title
{
	margin:-40px 0px 10px 140px;
}

.login_labels
{
	margin-left:90px;
}

.login_signup_btn
{
	margin-left:15px;
}

.login_forgotpw
{
	margin:15px 0px 0px -10px;
}