.login {
background: #eceeee;
border: 1px solid #42464b;
border-radius: 6px;
height: 257px;
margin: 20px auto 0;
width: 298px;
}

.characterListItem {
border: 1px solid #42464b;
border-radius: 6px;
cursor: pointer;
width:200px;
list-style-type: none;
margin: 20px auto 0;
}

.selectedCharacter {
background: white;
}
#scrollbar1 { width: 520px; clear: both; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #c0c0c0; width:100%; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 13px; border:1px solid;}
#scrollbar1 .track { background-color: #ffffff; height: 20px; width:13px; position: relative; padding: 0px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

/*BASE STYLING FOR SCENES*/
.scene_hero
{	
	border:3px solid black;
	height:340px;/*340*/
	width:760px; /*originally 820px*/
	margin:40px auto 0px auto;
	padding-top:40px;
}

.left-hero{
	/*border:solid;*/
}

.right-hero{
	border:2px solid black;
	width:300px;
	height:350px; /*orignally 320*/
	background-color:white;
}

.middle_align{
	text-align:center; 
}

.title_label{
	margin-bottom: 20px;
}

.input_forms{
	/*border:solid;*/
	width:250px;
	margin-right:auto;
	margin-left:auto;
}

.call_to_action_btn
{
	margin-left:15px;
}

.scene_img_div{
	border:2px solid; 
	width:400px; 
	height:300px;
	overflow:hidden;
}

.scene_img_label{
	width:400px; 
	height:30px; 
	/*border:solid;*/
	text-align:center; 
	padding-top:10px; 
	font-size:30px;
}

.scene_label{
	text-align: center;
	margin-bottom: 15px;
}

.scene_error{
	width:250px; 
	text-align:center; 
	padding:0px;
	margin: 0px auto 0px auto;
}

/*hero styling for game selection scene*/
.scene_hero_game_select
{	
	border:2px solid black;
	height:380px;
	width:760px; /*originally 820px*/
	margin:40px auto 0px auto;
	padding-top:0px;
}

.game_list_buttons{
	position:absolute; top:420px; left:300px; width:380px;
}

