 .login_container
 {
 	margin-top:75px;
 }

 .login_hero
 {
 	height:320px;
 	width:820px;
 	margin:0px auto 0px auto;
 }

 .login_husky_vs_zombie
 {
 	margin-top:-30px;
 }

 .login_title
 {
 	margin:-40px 0px 10px 140px;
 }

 .login_labels
 {
 	margin-left:90px;
 }

 .login_signup_btn
 {
 	margin-left:15px;
 }

 .login_forgotpw
 {
 	margin:15px 0px 0px -10px;
 }

